spring:
  application:
    name: tbill-backend-api
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    url: jdbc:postgresql://${DB_POSTGRES_HOST}:${DB_POSTGRES_PORT}/${DB_POSTGRES_DBNAME}
    username: ${DB_POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  management:
    endpoints:
      web:
        exposure:
          include: "health,prometheus"
    health:
      readiness-state:
        enabled: true
      liveness-state:
        enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    config-url: /api/java/v3/api-docs/swagger-config

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration-ms: 1800000   # 30분
  refresh-token-expiration-ms: 604800000 # 7일

logging:
  level:
    root: INFO # 모든 환경의 기본 로그 레벨
