spring:
  application:
    name: tbill-backend-api

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    url: jdbc:postgresql://${DB_POSTGRES_HOST}:${DB_POSTGRES_PORT}/${DB_POSTGRES_DBNAME}
    username: ${DB_POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  # Kafka 설정 추가
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: 1
      retries: 3
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: ${KAFKA_CONSUMER_GROUP_ID}
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"

  management:
    endpoints:
      web:
        exposure:
          include: "health,prometheus"
    health:
      readiness-state:
        enabled: true
      liveness-state:
        enabled: true

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration-ms: 1800000   # 30분
  refresh-token-expiration-ms: 604800000 # 7일

logging:
  level:
    root: INFO
